Agente_IA_Hubspot.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Oi! Eu sou o seu assistente especializado em integrações técnicas com a HubSpot API. \n🚀 Como posso ajudar hoje?",
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        528,
        0
      ],
      "id": "4996cbb1-29ca-44de-b3b5-7d84955d3b9f",
      "name": "When chat message received",
      "webhookId": "629262fc-add1-49a2-beba-1cdba8ddc5df"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2612197a-792b-4eae-9dce-10879a46ce5c",
              "name": "IdMensagem",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "78f777b9-bd04-4625-a3f4-320642706cff",
              "name": "Mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        0
      ],
      "id": "6ffa4fc2-b29b-4fd0-8d03-28500c5dd98f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um assistente especializado em integrações técnicas com a HubSpot API. Sua função é responder perguntas de desenvolvedores de software de forma clara, objetiva, sucinta, simpática e prática.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        0
      ],
      "id": "d443baad-150f-4d6e-91aa-ea67ee46505f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        976,
        208
      ],
      "id": "d0a0258a-0665-48cf-b1e7-77e9b805d1ee",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "P01AYZpDCiqyJZAT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ],
      "id": "64346887-a955-4054-94ce-7058bc5afda2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "description": "Qdrand Search"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1488,
        208
      ],
      "id": "7d26198b-5a2a-45c1-b770-313f98117127",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "vector1",
          "mode": "list",
          "cachedResultName": "vector1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1408,
        400
      ],
      "id": "079aec15-2495-4493-a979-61ca04b6afa0",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "VLTIqWUeFUNsC0vs",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        576
      ],
      "id": "a7f0dc68-ef58-406e-bfdd-8f022dbd3383",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UoALcYfvdrnabDAl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1712,
        400
      ],
      "id": "9890bc4b-7ab9-4c4a-8d80-157e2852019e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UoALcYfvdrnabDAl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1360,
        208
      ],
      "id": "e47e1747-3442-423d-acde-8c309c4e90ac",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1248,
        208
      ],
      "id": "76d41f7a-848d-4dfb-a813-c3d244b7b139",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.IdMensagem }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1120,
        208
      ],
      "id": "5498221a-7ce1-4250-9a9d-97a4e307c29f",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38925cf6-493f-4457-a32c-a8c01566b125",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93b4d41703d55ccafed6752dd2249d6360561c1b0ef2e1a554a5d7eeda51e473"
  },
  "id": "xg8u8xAU6uH08O2L",
  "tags": []
}